<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Gestor de Tareas</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="./../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="./../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="./../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="./../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="./../static/assets/css/style.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

</head>
<body>

<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a th:href="@{/}" class="logo d-flex align-items-center">
            <span>Gestor de Tareas</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>

                <li><a th:href="@{/tasks}" class="nav-link scrollto">Ver Tareas</a></li>
                <li><a th:href="@{/tasks/add}" class="getstarted scrollto">Crear Tarea</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>

<main id="main">
    <section id="register" class="register">
        <div class="container mt-4" data-aos="fade-up">
            <header class="section-header">
                <h2>Tareas</h2>
                <p>Consulta tus tareas creadas</p>
            </header>



            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <table id="taskTable" class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Fecha Inicio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task, stat : ${tasks}">
                                <td th:text="${stat.count}"></td>
                                <td th:text="${task.name}"></td>
                                <td th:text="${#strings.length(task.description) > 80 ? #strings.substring(task.description, 0, 80) + '...' : task.description}"></td>
                                <td th:text="${#dates.format(task.startDate, 'yyyy-MM-dd')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <script>
                    $(document).ready(function() {
                        $('#taskTable').DataTable({
                            "language": {
                                "lengthMenu": "Mostrar _MENU_ entradas por página",
                                "zeroRecords": "No se encontraron registros - lo siento",
                                "info": "Mostrando página _PAGE_ de _PAGES_",
                                "infoEmpty": "No hay registros disponibles",
                                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                                "search": "Buscar:",
                                "paginate": {
                                    "first": "Primero",
                                    "last": "Último",
                                    "next": "Siguiente",
                                    "previous": "Anterior"
                                },
                                "loadingRecords": "Cargando...",
                                "processing": "Procesando...",
                                "emptyTable": "No hay datos disponibles en la tabla",
                                "aria": {
                                    "sortAscending": ": activar para ordenar la columna ascendente",
                                    "sortDescending": ": activar para ordenar la columna descendente"
                                }
                            }
                        });
                    });
                </script>


            </div>
        </div>
    </section>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</main>

<script src="./../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="./../static/assets/vendor/aos/aos.js"></script>
<script src="./../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="./../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="./../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="./../static/assets/js/main.js"></script>

</body>
</html>
